<div class="left-column">
    <div class="side-column-wrapper">
        <div class="terminal-header">
            <span class="window-btn close"></span>
            <span class="window-btn minimize"></span>
            <span class="window-btn maximize"></span>
        </div>
        <div class = "side-column-content">
            <div class="shine-wrapper">
                <img src="static/img/mobo.png" onclick="navigateTo('wiki')" alt="Wiki Style Entrypoint" class="simple-img"/>
            </div>
            <img src="static/img/disk.png" alt="Logo" onclick="navigateTo('videos')" class = "rotating-img"/>
            <img src="static/img/linux.png" alt="Logo" onclick="navigateTo('linux')" class = "shake-img"/>
            <img src="static/img/duck.png" alt="Logo" onclick="navigateTo('linux')" class = "shake-img"/>
        </div>
    </div>
</div>

<script type="module" src="/static/js/pages/landing/navigation.js"></script>