<div class="left-column">
    <div class="side-column-wrapper">
        <div class="terminal-header">
            <span class="window-btn close"></span>
            <span class="window-btn minimize"></span>
            <span class="window-btn maximize"></span>
        </div>
        <div class = "side-column-content">
            <div class="shine-wrapper">
                <img src="static/img/mobo.png" alt="Logo" style="width:80px; height:auto; padding:10px;"/>
            </div>
            <img src="static/img/disk.png" alt="Logo" style="width:80px; height:auto; padding:10px;" class = "rotating-img"/>
            <img src="static/img/linux.png" alt="Logo" style="width:100px; height:auto; padding:10px;" class = "shake-img"/>
            <img src="static/img/duck.png" alt="Logo" style="width:80px; height:auto; padding:10px;" class = "shake-img"/>
        </div>
    </div>
</div>