<div class="right-column">
    <div class="side-column-wrapper">
        <div class="terminal-header">
            <span class="window-btn close"></span>
            <span class="window-btn minimize"></span>
            <span class="window-btn maximize"></span>
        </div>
        <div class = "side-column-content">
            <button class="side-text" onclick="navigateTo('about')">about</button>
            <button class="side-text" onclick="navigateTo('projects')">projects</button>
            <button class="side-text" onclick="navigateTo('blogs')">blogs</button>
            <button class="side-text" onclick="navigateTo('consulting')">consulting</button>
            <button class="side-text" onclick="navigateTo('tools')">my tools</button>
            <button class="side-text" onclick="navigateTo('contact')">contact</button>
            <button class="side-text" onclick="navigateTo('videos')">videos</button>
        </div>
    </div>

</div>

<script type="module" src="/static/js/pages/landing/navigation.js"></script>