<div class = "terminal-and-results">
    <div class="terminal-wrapper {% if not landing_page %}collapsed{% endif %}">
            <div class="terminal-header">
                <div class="terminal-buttons">
                    <div class="terminal-btn btn-close"></div>
                    <div class="terminal-btn btn-min"></div>
                    <div class="terminal-btn btn-max"></div>
                </div>
            </div>
            <div id="terminal"></div>
    </div>

    <div class="hidden" id="terminal-results-wrapper">
        <div class="terminal-header">
        </div>
        <div class = "terminal-results">
            Try the terminal above to populate this area.
        </div>
    </div>
</div>

<script type="module" src="/static/js/pages/landing/terminal.js"></script>