<div class="center-column">
    <div class="center-column-wrapper">
        <div class="terminal-header">
            <span class="window-btn close"></span>
            <span class="window-btn minimize"></span>
            <span class="window-btn maximize"></span>
        </div>

        <div class = "center-column-content">
            <div class="shine-wrapper">
                <img src="static/img/wiki_slop.png" onclick="navigateTo('wiki')" alt="Wiki Style Entrypoint"/>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/static/js/pages/landing/navigation.js"></script>