<div class="vector-header-container">
<header class="vector-header mw-header no-font-mode-scale">
		<div class="vector-header-start">
			<nav class="vector-main-menu-landmark" aria-label="Site">
				
<div id="vector-main-menu-dropdown" class="vector-dropdown vector-main-menu-dropdown vector-button-flush-left vector-button-flush-right" title="Main menu">
	<input type="checkbox" id="vector-main-menu-dropdown-checkbox" role="button" aria-haspopup="true" data-event-name="ui.dropdown-vector-main-menu-dropdown" class="vector-dropdown-checkbox " aria-label="Main menu">
	<label id="vector-main-menu-dropdown-label" for="vector-main-menu-dropdown-checkbox" class="vector-dropdown-label cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only " aria-hidden="true"><span class="vector-icon mw-ui-icon-menu mw-ui-icon-wikimedia-menu"></span>

<span class="vector-dropdown-label-text">
	Main menu
</span>
</label>

<div class="vector-dropdown-content">
<div id="vector-main-menu-unpinned-container" class="vector-unpinned-container">
		
<div id="vector-main-menu" class="vector-main-menu vector-pinnable-element">
	<div class="vector-pinnable-header vector-main-menu-pinnable-header vector-pinnable-header-unpinned" data-feature-name="main-menu-pinned" data-pinnable-element-id="vector-main-menu" data-pinned-container-id="vector-main-menu-pinned-container" data-unpinned-container-id="vector-main-menu-unpinned-container" data-saved-pinned-state="false">
<div class="vector-pinnable-header-label">
Main menu
</div>
	<button class="vector-pinnable-header-toggle-button vector-pinnable-header-pin-button" data-event-name="pinnable-header.vector-main-menu.pin">move to sidebar</button>
	<button class="vector-pinnable-header-toggle-button vector-pinnable-header-unpin-button" data-event-name="pinnable-header.vector-main-menu.unpin">hide</button>
</div>

	
<div id="p-navigation" class="vector-menu mw-portlet mw-portlet-navigation">
	<div class="vector-menu-heading">
		Navigation
	</div>
	<div class="vector-menu-content">
		
<ul class="vector-menu-content-list">
			
<li id="n-mainpage-description" class="mw-list-item">
<a href="/wiki" title="Visit the main page [alt-z]" accesskey="z"><span>Main page</span></a></li><li id="n-contents" class="mw-list-item">
<a href="/wiki" title="Guides to browsing technical Wiki"><span>Contents</span></a></li><li id="n-currentevents" class="mw-list-item">
<a href="/wiki/random" title="Visit a randomly selected article [alt-x]" accesskey="x"><span>Random article</span></a></li><li id="n-aboutsite" class="mw-list-item">
<a href="/wiki/about" title="Learn about technical Wiki and how it works"><span>About Technical Wiki</span></a></li><li id="n-contactpage" class="mw-list-item">
<a href="/wiki/contact" title="How to contact technical Wiki"><span>Contact us</span></a></li>

</ul>
		
	</div>
</div>

	
<div id="p-interaction" class="vector-menu mw-portlet mw-portlet-interaction">
	<div class="vector-menu-heading">
		Contribute
	</div>
<div class="vector-menu-content">
<ul class="vector-menu-content-list">
<li id="n-help" class="mw-list-item"><a href="/wiki/about" title="Guidance on how to use and edit technical Wiki"><span>Help</span></a>
</li><li id="n-portal" class="mw-list-item"><a href="/wiki/about" title="The hub for editors"><span>Community portal</span></a>
<li id="n-specialpages" class="mw-list-item"><a href="/wiki/random"><span>Special pages</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</nav>


			
<a href="/wiki" class="mw-logo">
	<img class="mw-logo-icon" src="/static/img/wiki/icons/wiki_logo.svg" alt="" aria-hidden="true" height="50" width="50">
	<span class="mw-logo-container skin-invert">
		<img class="mw-logo-wordmark" alt="Wiki" src="/static/img/wiki/icons/wiki_title.svg" style="width: 7.5em; height: 1.125em;">
		<img class="mw-logo-tagline" alt="Free Technical Learning Resource At Your Own Risk" src="/static/img/wiki/icons/wiki_tag.svg" width="117" height="13" style="width: 7.3125em; height: 0.8125em;">
    </span>
</a>

</div>
<div class="vector-header-end">
			
<div id="p-search" role="search" class="vector-search-box-vue  vector-search-box-collapses vector-search-box-show-thumbnail vector-search-box-auto-expand-width vector-search-box">
	<a href="/wiki" class="cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only search-toggle" title="Search Wiki [alt-f]" accesskey="f"><span class="vector-icon mw-ui-icon-search mw-ui-icon-wikimedia-search"></span>

<span>Search</span>
	</a>
	<div class="vector-typeahead-search-container">
		<div class="cdx-typeahead-search cdx-typeahead-search--show-thumbnail cdx-typeahead-search--auto-expand-width">
<form action="/wiki" id="searchform" class="cdx-search-input cdx-search-input--has-end-button">

    <div id="simpleSearch" class="cdx-search-input__input-wrapper" data-search-loc="header-moved">
        <div class="cdx-text-input cdx-text-input--has-start-icon">
            <input class="cdx-text-input__input mw-searchInput" autocomplete="off" type="search" name="search" placeholder="Search Wiki" aria-label="Search Wiki" autocapitalize="sentences" spellcheck="false" title="Search Wiki [alt-f]" accesskey="f" id="searchInput">
            <span class="cdx-text-input__icon cdx-text-input__start-icon"></span>
        </div>
        <input type="hidden" name="title" value="Special:Search">
    </div>
    <button class="cdx-button cdx-search-input__end-button">Search</button>
</form>

		</div>
	</div>
</div>

<nav class="vector-user-links vector-user-links-wide" aria-label="Personal tools">
<div class="vector-user-links-main">
	
<div id="p-vector-user-menu-preferences" class="vector-menu mw-portlet emptyPortlet">
	<div class="vector-menu-content">
		<ul class="vector-menu-content-list">			
		</ul>
	</div>
</div>

	
<div id="p-vector-user-menu-userpage" class="vector-menu mw-portlet emptyPortlet">
	<div class="vector-menu-content">
		<ul class="vector-menu-content-list">
		</ul>
	</div>
</div>

<nav class="vector-appearance-landmark" aria-label="Appearance">
<div id="vector-appearance-dropdown" class="vector-dropdown " title="Change the appearance of the page's font size, width, and color">
	<input type="checkbox" id="vector-appearance-dropdown-checkbox" role="button" aria-haspopup="true" data-event-name="ui.dropdown-vector-appearance-dropdown" class="vector-dropdown-checkbox " aria-label="Appearance">
	<label id="vector-appearance-dropdown-label" for="vector-appearance-dropdown-checkbox" class="vector-dropdown-label cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only " aria-hidden="true"><span class="vector-icon mw-ui-icon-appearance mw-ui-icon-wikimedia-appearance"></span>
<span class="vector-dropdown-label-text">Appearance</span>
	</label>
	<div class="vector-dropdown-content">
			<div id="vector-appearance-unpinned-container" class="vector-unpinned-container">
				
			</div>
		
	</div>
</div>

	</nav>
	
<div id="p-vector-user-menu-notifications" class="vector-menu mw-portlet emptyPortlet">
	<div class="vector-menu-content">
		
		<ul class="vector-menu-content-list">
			
			
		</ul>
		
	</div>
</div>

	
<div id="p-vector-user-menu-overflow" class="vector-menu mw-portlet">
	<div class="vector-menu-content">
		<ul class="vector-menu-content-list">
			<li id="pt-sitesupport-2" class="user-links-collapsible-item mw-list-item user-links-collapsible-item"><a data-mw="interface" class="">
<span>Donate</span></a>
</li>
<li id="pt-createaccount-2" class="user-links-collapsible-item mw-list-item user-links-collapsible-item"><a data-mw="interface" title="You are encouraged to create an account and log in; however, it is not mandatory" class="">
<span>Create account</span></a>
</li>
<li id="pt-login-2" class="user-links-collapsible-item mw-list-item user-links-collapsible-item"><a data-mw="interface" title="You're encouraged to log in; however, it's not mandatory. [alt-o]" accesskey="o" class="">
<span>Log in</span></a>
</li>

			
		</ul>
		
	</div>
</div>

	</div>
	
<div id="vector-user-links-dropdown" class="vector-dropdown vector-user-menu vector-button-flush-right vector-user-menu-logged-out user-links-collapsible-item" title="Log in and more options">
	<input type="checkbox" id="vector-user-links-dropdown-checkbox" role="button" aria-haspopup="true" data-event-name="ui.dropdown-vector-user-links-dropdown" class="vector-dropdown-checkbox " aria-label="Personal tools">
	<label id="vector-user-links-dropdown-label" for="vector-user-links-dropdown-checkbox" class="vector-dropdown-label cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only " aria-hidden="true"><span class="vector-icon mw-ui-icon-ellipsis mw-ui-icon-wikimedia-ellipsis"></span>

<span class="vector-dropdown-label-text">Personal tools</span>
	</label>
	<div class="vector-dropdown-content">


		
<div id="p-personal" class="vector-menu mw-portlet mw-portlet-personal user-links-collapsible-item" title="User menu">
	<div class="vector-menu-content">
		
		<ul class="vector-menu-content-list">
			
			<li id="pt-sitesupport" class="user-links-collapsible-item mw-list-item">
            <a href="https://donate.wikimedia.org/?wmf_source=donate&amp;wmf_medium=sidebar&amp;wmf_campaign=en.wikipedia.org&amp;uselang=en">
                <span>Donate</span>
            </a></li><li id="pt-createaccount" class="user-links-collapsible-item mw-list-item">
                <a href="/wiki/about" title="You are encouraged to create an account and log in; however, it is not mandatory">
                    <span class="vector-icon mw-ui-icon-userAdd mw-ui-icon-wikimedia-userAdd"></span> <span>Create account</span>
                </a>
            </li><li id="pt-login" class="user-links-collapsible-item mw-list-item">
                <a href="/wiki/about" title="You're encouraged to log in; however, it's not mandatory. [alt-o]" accesskey="o">
                    <span class="vector-icon mw-ui-icon-logIn mw-ui-icon-wikimedia-logIn"></span> 
                    <span>Log in</span>
            </a></li>
		</ul>
		
	</div>
</div>

	
	</div>
</div>

</nav>

</div>
</header>
</div>