<div class="mw-page-container">
<div class="mw-page-container-inner">
<div class="vector-sitenotice-container">

</div>
<div class="vector-column-start">
    <div class="vector-main-menu-container">
<div id="mw-navigation">
    <nav id="mw-panel" class="vector-main-menu-landmark" aria-label="Site">
        <div id="vector-main-menu-pinned-container" class="vector-pinned-container">
        
</div>
</nav>
</div>
    </div>
    <div class="vector-sticky-pinned-container">
                <nav id="mw-panel-toc" aria-label="Contents" data-event-name="ui.sidebar-toc" class="mw-table-of-contents-container vector-toc-landmark">
                    <div id="vector-toc-pinned-container" class="vector-pinned-container">
                    

                    <div id="vector-toc" class="vector-toc vector-pinnable-element">
    <div class="vector-pinnable-header vector-toc-pinnable-header vector-pinnable-header-pinned" data-feature-name="toc-pinned" data-pinnable-element-id="vector-toc">
    <h2 class="vector-pinnable-header-label">Contents</h2>
    <button class="vector-pinnable-header-toggle-button vector-pinnable-header-pin-button" data-event-name="pinnable-header.vector-toc.pin">move to sidebar</button>
    <button class="vector-pinnable-header-toggle-button vector-pinnable-header-unpin-button" data-event-name="pinnable-header.vector-toc.unpin">hide</button>
</div>


    <ul class="vector-toc-contents" id="mw-panel-toc-list">
        <li id="toc-mw-content-text" class="vector-toc-list-item vector-toc-level-1 vector-toc-level-1-active vector-toc-list-item-active">
            <a href="#" class="vector-toc-link">
                <div class="vector-toc-text">(Top)</div>
            </a>
        </li>
        <li id="toc-Background" class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded">
        <a class="vector-toc-link" href="#Background">
            <div class="vector-toc-text">
                <span class="vector-toc-numb">1</span>
                <span>Background</span>
            </div>
        </a>
        
        <ul id="toc-Background-sublist" class="vector-toc-list">
        </ul>
    </li>
    <li id="toc-Commissioning" class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded">
        <a class="vector-toc-link" href="#Commissioning">
            <div class="vector-toc-text">
                <span class="vector-toc-numb">2</span>
                <span>Commissioning</span>
            </div>
        </a>
        
        <ul id="toc-Commissioning-sublist" class="vector-toc-list">
        </ul>
    </li>
    <li id="toc-Design_and_symbolism" class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded">
        <a class="vector-toc-link" href="#Design_and_symbolism">
            <div class="vector-toc-text">
                <span class="vector-toc-numb">3</span>
                <span>Design and symbolism</span>
            </div>
        </a>
        
        <ul id="toc-Design_and_symbolism-sublist" class="vector-toc-list">
        </ul>
    </li>
    <li id="toc-Critical_reception" class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded">
        <a class="vector-toc-link" href="#Critical_reception">
            <div class="vector-toc-text">
                <span class="vector-toc-numb">4</span>
                <span>Critical reception</span>
            </div>
        </a>
        
        <ul id="toc-Critical_reception-sublist" class="vector-toc-list">
        </ul>
    </li>
    <li id="toc-Later_history" class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded">
        <a class="vector-toc-link" href="#Later_history">
            <div class="vector-toc-text">
                <span class="vector-toc-numb">5</span>
                <span>Later history</span>
            </div>
        </a>
        
        <ul id="toc-Later_history-sublist" class="vector-toc-list">
        </ul>
    </li>
    <li id="toc-See_also" class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded">
        <a class="vector-toc-link" href="#See_also">
            <div class="vector-toc-text">
                <span class="vector-toc-numb">6</span>
                <span>See also</span>
            </div>
        </a>
        
        <ul id="toc-See_also-sublist" class="vector-toc-list">
        </ul>
    </li>
    <li id="toc-References" class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded">
        <a class="vector-toc-link" href="#References">
            <div class="vector-toc-text">
                <span class="vector-toc-numb">7</span>
                <span>References</span>
            </div>
        </a>
        
        <ul id="toc-References-sublist" class="vector-toc-list">
        </ul>
    </li>
    <li id="toc-Bibliography" class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded">
        <a class="vector-toc-link" href="#Bibliography">
            <div class="vector-toc-text">
                <span class="vector-toc-numb">8</span>
                <span>Bibliography</span>
            </div>
        </a>
        
        <ul id="toc-Bibliography-sublist" class="vector-toc-list">
        </ul>
    </li>
    <li id="toc-External_links" class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded">
        <a class="vector-toc-link" href="#External_links">
            <div class="vector-toc-text">
                <span class="vector-toc-numb">9</span>
                <span>External links</span>
            </div>
        </a>
        
        <ul id="toc-External_links-sublist" class="vector-toc-list">
        </ul>
    </li>
</ul>
</div></div>
</nav>
</div>
</div>




<div class="mw-content-container">
<main id="content" class="mw-body">
<header class="mw-body-header vector-page-titlebar no-font-mode-scale">
                    <nav aria-label="Contents" class="vector-toc-landmark">
                        
<div id="vector-page-titlebar-toc" class="vector-dropdown vector-page-titlebar-toc vector-button-flush-left" title="Table of Contents">
    <input type="checkbox" id="vector-page-titlebar-toc-checkbox" role="button" aria-haspopup="true" data-event-name="ui.dropdown-vector-page-titlebar-toc" class="vector-dropdown-checkbox " aria-label="Toggle the table of contents">
    <label id="vector-page-titlebar-toc-label" for="vector-page-titlebar-toc-checkbox" class="vector-dropdown-label cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--icon-only cdx-button--weight-quiet" aria-hidden="true"><span class="vector-icon mw-ui-icon-listBullet mw-ui-icon-wikimedia-listBullet"></span>

<span class="vector-dropdown-label-text">Toggle the table of contents</span>
    </label>
    <div class="vector-dropdown-content">


                            <div id="vector-page-titlebar-toc-unpinned-container" class="vector-unpinned-container">
            </div>
        
    </div>
</div>

</nav>
<h1 id="firstHeading" class="firstHeading mw-first-heading">
    <span class="mw-page-title-main">
        {{ title }}
    </span>
</h1>
                            

</header>

