<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Technical Wiki For ML, Data Science, DevOps, Data Engineering, and More">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://prestonblackburn.com/">
    <title>Preston's Site</title>

    <!-- Wikipedia core styles -->
    <link rel="stylesheet" href="/static/css/wiki_style_min.css">
    <link rel="stylesheet" href="/static/css/wiki_style_modules_min.css">
    <link rel="stylesheet" href="/static/css/wiki_style_mobile_min.css">
    <link rel="stylesheet" href="/static/css/wiki_style_special.css">


    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>


<body class="skin--responsive skin-vector skin-vector-search-vue mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject skin-vector-2022 action-view uls-dialog-sticky-hide"><a class="mw-jump-link" href="#bodyContent">Jump to content</a>

{% block content %}{% endblock %}

</body>
</html>

</html>